body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

#contact_modal {
    display: none;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
    overflow-clip-margin: unset;
}

.photograph-header article h2 {
    color: #D3573C;
    font-size: 64px;
    margin: 15px 0 0;
}

.photograph-header article div {
    display: flex;
    margin-bottom: 20px;
}
.photograph-header article p {
    font-size: 1.125em;
    margin: 1px;
}
.photograph-header article .place {
    font-size: 1.5em;
    color: #901C1C;
}
.photograph-header article .price {
    font-size: 0.563em;
    color:#757575;
}
.photograph-header button.contact_button {
    order: 2; 
}

.photograph-header article {
    order: 1;
}

.photograph-header img {
    order: 3;
}
.gallery_media{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 100px 0;
    justify-items: center;
}

.gallery_media img,
.gallery_media video  {
    width: 350px;
    height: 351px;
    object-fit: cover;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.gallery_media .info_media {
    display: flex;
    justify-content: space-between;
}
.gallery_media p {
    font-size: 1.5em;
    line-height: 31.25px;
    color: #901C1C;
    margin: 10px 0;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

#contact_modal{
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 5% auto;
}

.modal .header_modal {
    width: 100%;
    margin-bottom: 26px;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
}
.modal .title_modal {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.modal .header_modal img {
    cursor: pointer;
}

.modal .header_modal h2 {
    font-size: 64px;
    font-weight: normal;
    margin: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
.modal-message {
    height: 170px;
}

.static_text {
    width: 376px;
    background-color: #DB8875;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    margin-right: 36px;
}
.static_text p{
    font-size: 1.5em;
    font-weight: 500;
    padding: 0 16px;
    text-align: right;
}